{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Assigned Projects {% elif request.user.usertype.userType == "Client" or request.user.is_superuser %} Total Posted Projects {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.0 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %}Total Bidded Projects {% elif request.user.usertype.userType == "Client" and not request.user.is_superuser %} Total AprrovedProjects {% else %} Total Earnings {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{% if request.user.is_superuser %} Rs.{% endif %}{{ objects.0.1 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Unbidded Project {% elif request.user.is_superuser %} Today`s New Projects {% else %} Total Pending Projects {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.2 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Earnings {% elif request.user.usertype.userType == "Client" or request.user.is_superuser %} Total Spent {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">Rs.{{ objects.0.3 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Completed</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.6 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
{% if request.user.is_superuser %}
        <div class="col-xl-3 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Rejected</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.7 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 19%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
  {% endif %}


      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">{% if user.usertype.userType == "Developer" %} Earnings Chart {% elif request.user.usertype.userType == "Client" %} Money Spent Chart {% endif %}</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sal" data-prefix="₹"
                  data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sal" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total Completed Project</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-order" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0" style="max-height: 350px;
    overflow-x: scroll;">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %}Bidded Projects {% else %} Rejected Project {% endif %}</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project name</th>
                <th scope="col">Published By</th>
                <th scope="col">Published Date</th>
{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %} <th scope="col">Bid Price</th> {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for i in objects.0.4 %}
              <tr>
                <th scope="row">
 {{ i.projectName.Title }}  {{ i.Title }} 
                </th>
                <td>
 {{ i.projectName.user.user.username }} {{ i.user.user.username }}
                </td>
                <td>
   {{ i.projectName.Date }}  {{ i.Date }} 
                </td>
                <td>
{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %} <i class="fas fa-arrow-up text-success mr-3"></i> Rs.{{ i.bidAmount }} {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4" style="max-height: 350px;
    overflow-x: scroll;">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %} Assigned Projects {% elif request.user.is_superuser %} Today`s Project {% else %} Accepted Projects {% endif %}</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project Name</th>
                <th scope="col">{% if request.user.is_superuser %} Project Type {% else %} Price {% endif %}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for j in objects.0.5 %}
              <tr>
                <th scope="row">
                  {{ j.projectName.Title }} {{ j.Title }}
                </th>
                <td>
                  {% if not request.user.is_superuser %} Rs.{{ j.Amount }} {{ j.ActualPrice }} {% else %} {{ j.projectType}} {% endif %}
                </td>
                <td>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  var ctx = document.getElementById('chart-sal').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for i in api.1 %} "{{ i }}",  {% endfor %}],
  datasets: [{
    label: 'Total Earning',
    data: {{ api.0 }},
    backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderWidth: 1
        },
        {% if request.user.is_superuser %}
        {
            type: 'line',
            label: 'Total Spent',
            data: {{ api.3 }},
        }
        {% endif %}
      ]
    },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});



  var ctt = document.getElementById('chart-order').getContext('2d');
  var myCharts = new Chart(ctt, {
    type: 'bar',
    data: {
      labels: [{% for i in api.1 %} "{{ i }}",  {% endfor %}],
  datasets: [{
    data: {{ api.2 }},
    backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(255, 205, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(201, 203, 207, 0.2)'
  ],
    borderColor: [
    'rgb(75, 192, 192)',
    'rgb(255, 159, 64)',
    'rgb(255, 205, 86)',
    'rgb(75, 192, 192)',
    'rgb(54, 162, 235)',
    'rgb(153, 102, 255)',
    'rgb(201, 203, 207)'
  ],
    borderWidth: 1
        }]
    },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>

{% endblock javascripts %}