{% extends 'layouts/base.html' %}

{% block title %} Add Project {% endblock title %}

{% block content %}
<style>
  .typeo{
    position: relative;
    bottom: 50px;
    left: 50px;
  }
  .sadFace{
    height: 300px;
    margin-left: 120px;
  }
</style>


<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      {% if msg %}
       {% if success %}
      <div class="alert alert-success alert-dismissible fade show" id="popup" role="alert">
        <strong>Success!!</strong> {{msg}}
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show" id="popup" role="alert">
        <strong>Error!!</strong> {{msg}}
      </div>
      </div>
      {% endif %}
      {% endif %}
      
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Assigned Projects {% elif request.user.usertype.userType == "Client" or request.user.is_superuser %} Total Posted Projects {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.0 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %}Total Bidded Projects {% elif request.user.usertype.userType == "Client" and not request.user.is_superuser %} Total AprrovedProjects {% else %} Total Earnings {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{% if request.user.is_superuser %} Rs.{% endif %}{{ objects.0.1 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if request.user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Unbidded Project {% elif request.user.is_superuser %} Today`s New Projects {% else %} Total Pending Projects {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.2 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{% if user.usertype.userType == "Developer" and not request.user.is_superuser %} Total Earnings {% elif request.user.usertype.userType == "Client" or request.user.is_superuser %} Total Spent {% endif %}</h5>
                  <span class="h2 font-weight-bold mb-0">Rs.{{ objects.0.3 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Completed</h5>
                  <span class="h2 font-weight-bold mb-0">{{ objects.0.6 }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>

{% if request.user.usertype.userType == "Client" or request.user.is_superuser %}
<div class="col-xl-8 order-xl-1 typeo">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Add Project</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form action="/maps" enctype="multipart/form-data" method="post">{% csrf_token %}
        <h6 class="heading-small text-muted mb-4">Project information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control form-control-alternative"
                  placeholder="Project Title">
              </div>
            </div>
            {% if request.user.is_superuser %}
            <div class="form-group" style="margin-left:15px; width: 45%;">
              <label for="client" class="form-control-label" for="client">Client Name</label>
              <div>
                <select id="client" name="client"
                  class="form-control form-control-alternative shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  {% for i in Client %}
                  <option value="{{ i.id }}">{{ i.user.username }}</option>
                  {% endfor %}
                  
                </select>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="row my-2">
            <div class="col-lg-6">
              <label for="ptype" class="block text-sm font-medium text-gray-700 ">Project Type</label>
              <select id="ptype" name="ptype"
                class=" mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>Dissertation</option>
                <option>Assignment</option>
                <option>Technical Report</option>
                <option>Others</option>
              </select>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-address">Project Documents</label>
                <div class="form-control form-control-alternative">
                  <input type="file" multiple id="app" name="app">
                </div>
              </div>

          </div>
        </div>

        <div class="row my-2">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-address">Project Deadline</label>
            <div class="form-control form-control-alternative">
              <input type="date"  id="deadline" name="deadline">
            </div>
          </div>
          </div>
          </div>
        <h6 class="heading-small text-muted mb-4">Description</h6>
        <div class="pl-lg-4">
          <div class="form-group">
            <textarea rows="4" id="desc" name="desc" class="form-control form-control-alternative"
              placeholder="A few words about your project..."></textarea>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
      </form>
    </div>

  </div>
</div>
{% else %}


<div class="flex flex-col typeo" style="width: 80%; max-height: 500px;overflow-x: scroll;">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Project Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Project Type
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Role
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {% for i in bidProject %}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      <a href="bid/{{ i.id }}/">{{ i.projectName.Title }}</a>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ i.projectName.Description|truncatechars:23 }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  {{ i.projectName.projectType }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ i.projectName.Date }}
              </td>
            </tr>

            {% empty %}
            <div class="card bg-secondary shadow manual">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Seems Nothing!!</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <img class="sadFace" src="static/assets/img/brand/sad.png" alt="Image">
          
                <div class="text-2xl font-mono text-left mt-4 ms-5">
                  It look`s like you dont have any projects for Bid!!!      
                </div>
              </div>
          
            </div>
            {% endfor %}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endif %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
  let ab = document.getElementById("popup");
  if(ab){
    setTimeout(()=>{
      ab.remove();
    },2000);
  }
</script>
{% endblock javascripts %}