<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    ExpertsMania Dashboard {% block title %} {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-default">

  <div class="main-content">

    {% include "includes/navigation-fullscreen.html" %}

    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">
                <a target="_blank" class="text-white"
                   href="https://expertsmania.com/">ExpertsMania Dashboard</a>
              </h1>
              <p class="text-lead text-light">
                Let's deal with the Technology!!!
                <div>
               <a target="_blank" class="text-white" href="https://expertsmania.com/">Get Help from the Experts instantly!!!</a>.  
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    {% block content %}{% endblock content %}

    {% include "includes/footer-fullscreen.html" %}

  </div>
    
  {% include "includes/scripts-fullscreen.html" %}

</body>
<script>
let cName = document.getElementById("collegeName");

let nothing = document.getElementById("projectType");
  if(nothing.value == "College Projects"){
  cName.style.display = "block";
  }
  else{
    cName.style.display = "None";

  }


function developer(){
  let data= document.getElementById("skiller");
  let data2 = document.getElementById("projecter");
  data2.style.display = "None";
  data.style.display = "block";
  cName.style.display = "None";

}

function client(){
  let data= document.getElementById("skiller");
  let data2 = document.getElementById("projecter");
  data.style.display = "None";
  data2.style.display = "block";
  let nothing = document.getElementById("projectType");

nothing.addEventListener("change",(e)=>{
  if(e.target.value != "College Projects"){
    let cName = document.getElementById("collegeName");
    cName.style.display = "None";
  }
  else{
    cName.style.display = "block";
  }
});

}

let data = document.getElementById("userType");

if(data.value =="Developer"){
    let data2 = document.getElementById("projecter");
    data2.style.display = "None";
}

data.addEventListener("change",(e)=>{
  if(e.target.value =="Developer"){
    developer();
  }
  else{
    let nothing = document.getElementById("projectType");
  if(nothing.value == "College Projects"){
  cName.style.display = "block";
  }
  else{
    cName.style.display = "None";

  }
    client();
    
  }
});


</script>
</html>
